* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(22, 22, 22);
  font-family: "poppins", sans-serif;
}

p {
  color: white;
}

/* link-style */
.active-link:visited {
  color: white;
}
.active-link:link {
  color: white;
}
.active-link-brand:visited {
  color: white;
}
.active-link-brand:link {
  color: white;
}
/* link-style-end */

/* navbar-section */
.navbar {
  position: fixed;
  overflow: visible;
  width: 100%;
  top: 0;
  height: 5.2rem;
  border-radius: 10px;
  margin-top: 1.2rem;
  width: 80.6rem;
  margin-left: 1.8rem;
  background-color: #2c2c2c;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.2);
}

.nav-brand {
  font-style: italic;
  font-weight: 600;
  margin-top: 1.3rem;
  margin-left: 6rem;
  font-size: 1.9rem;
  letter-spacing: 1.5px;
}

.ul-nav {
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-indent: 20px;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: 1rem;
  margin-top: -0.2rem;
  font-weight: 400;
  margin-left: 5rem;
  width: 5%;
  opacity: 0.9;
}
.ul-nav .li-nav {
  display: flex;
  height: 22%;
  justify-content: space-around;
}
.dropdown .dropdown-select {
  display: flex;
}
.dropdown-select {
  width: 55%;
  margin-right: 5.6rem;
}
.options {
  margin-top: 1rem;
  background-color: rgb(50, 46, 46);
  border: solid 2px rgb(50, 46, 46);
  margin-left: 1rem;
  border-radius: 7px;
  box-shadow: 8px 5px rgba(0, 0, 0, 0.2);
  padding-right: 2rem;
  height: 5rem;
  width: 11rem;
}
.dropdown-menu {
  opacity: 0;
  transform: scale(0);
  max-height: 0px;
}

.dropdown-menu.active {
  opacity: 1;
  transform: scale(1);
  max-height: 400px;
}

#others:hover {
  color: rgb(217, 216, 216);
  transition: 0.1s 0.1s;
}
.others {
  list-style: none;
  text-decoration: none;
}
.option-sosmed {
  margin-left: 0.2rem;
  padding-top: 0.5rem;
  list-style: none;
}
.option-projects {
  list-style: none;
  margin-left: -1.8rem;
  margin-top: 0.5rem;
}

.homeDiv {
  text-decoration: underline;
  text-decoration-thickness: 1.6px;
  text-underline-offset: 0.25rem;
}
/* list-hover */
.active-link:hover {
  color: rgb(218, 218, 218);
  transition: 0.1s 0.1s;
}
p::-moz-selection {
  color: black;
  background: aqua;
}
p::selection {
  color: black;
  background: aqua;
}
span::-moz-selection {
  background: aqua;
  color: black;
}
span::selection {
  background: aqua;
  color: black;
}
a::-moz-selection {
  background: aqua;
  color: black;
}
a::selection {
  background: aqua;
  color: black;
}
/* hover-end */
/* navbar-end */

/* hero-section */
.heroHead {
  color: white;
  font-style: italic;
  margin-top: 14rem;
  font-size: 3.4rem;
  font-weight: 700;
  margin-left: 6.2rem;
  width: 21%;
  display: inline-block;
  /* text-shadow: 0 0 0.1em #ffffff; */
}
/* animationsHead */
.wrapperHead {
  border-right: solid 2px white;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(8), cursor 0.4s step-end infinite alternate;
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
/* animationEnds */

.heroText {
  color: white;
  margin-left: 2.2rem;
  margin-top: -1.5rem;
  white-space: pre-wrap;
  display: flex;
  font-size: 1rem;
  opacity: 0.8;
  width: 50%;
}
#nva {
  color: aqua;
  font-size: 1.15rem;
}
/* socialMedia */
.socialContent {
  float: left;
  width: 40%;
  margin-left: 6.6rem;
  margin-top: -0.5rem;
  position: relative;
  height: 80%;
}
.socialMedia::after {
  content: "";
  clear: both;
  display: table;
}
.heroBtn {
  margin-left: 6.7rem;
  margin-top: 2rem;
  background-color: white;
  font-family: "Poppins", sans-serif;
  border: none;
  cursor: pointer;
  width: 7.5rem;
  font-weight: 600;
  font-size: 0.95rem;
  font-style: italic;
  height: 2.8rem;
  border-radius: 5px;
  margin-top: -0rem;
  margin-top: 1.5rem;
  box-shadow: 7px 7px aquamarine;
  color: rgb(4, 176, 176);
}
.heroBtn:hover {
  color: rgb(3, 123, 123);
  transition: 0.1s 0.1s;
}

/* profileImages */
.heroProfile {
  overflow: hidden;
  margin-left: 34rem;
  margin-top: -32rem;
}
.heroImagesProfile {
  overflow: hidden;
  width: 30rem;
}

.heroProfileBg {
  overflow: hidden;
  width: 30rem;
  display: block;
  margin-right: -46rem;
  margin-top: -25rem;
}
/* ENDS */
.cubeBackground {
  display: flex;
  position: relative;
}
.cubeOne {
  margin-left: 3rem;
  z-index: -1;
  width: 2.9rem;
  margin-left: -10rem;
  margin-top: -29rem;
  rotate: 13deg;
}
.cubeTwo {
  z-index: -1;
  rotate: -13deg;
  width: 2.9rem;
  margin-left: 16rem;
  margin-top: -8rem;
}
.cubeThree {
  z-index: -1;
  rotate: 10deg;
  width: 2.9rem;
  margin-left: 35rem;
  margin-top: -26rem;
}

.cubeOne {
  position: absolute;
  left: 15%;
  top: 15%;
  animation: fadeInFromTop 6s, floating 5s infinite;
}
/* keyframes */
@keyframes fadeInFromTop {
  from {
    opacity: 1;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes floating {
  0% {
    transform: translate(0%, 0%) rotate(360deg);
  }
  25% {
    transform: translate(5%, 15%) rotate(360deg);
  }
  50% {
    transform: translate(10%, 5%) rotate(360deg);
  }
  75% {
    transform: translate(0%, 15%) rotate(360deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg);
  }
}
.cubeTwo {
  position: absolute;
  left: 15%;
  top: 15%;
  animation: fadeInFromTop 6s, floating 6s infinite;
}
/* keyframes */
@keyframes fadeInFromTop {
  from {
    opacity: 1;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes floating {
  0% {
    transform: translate(0%, 0%) rotate(360deg);
  }
  25% {
    transform: translate(5%, 15%) rotate(360deg);
  }
  50% {
    transform: translate(10%, 5%) rotate(360deg);
  }
  75% {
    transform: translate(0%, 15%) rotate(360deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg);
  }
}
.cubeThree {
  position: absolute;
  left: 15%;
  top: 15%;
  animation: fadeInFromTop 6s, floating 6s infinite;
}
/* keyframes */
@keyframes fadeInFromTop {
  from {
    opacity: 1;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes floating {
  0% {
    transform: translate(0%, 0%) rotate(360deg);
  }
  25% {
    transform: translate(5%, 15%) rotate(360deg);
  }
  50% {
    transform: translate(10%, 5%) rotate(360deg);
  }
  75% {
    transform: translate(0%, 15%) rotate(360deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg);
  }
}
/* hero-section-ends */

/* creditSection */
.creditParagraph {
  margin-top: 14rem;
  font-size: 1.1rem;
  opacity: 1;
  font-weight: 300;
  text-align: center;
}

.supportBrand {
  display: flex;
  justify-content: space-around;
  margin-top: 1.1rem;
  text-indent: 5px;
  opacity: 0.6;
}

.supportContent {
  display: flex;
  justify-content: space-around;
}
.supportContent img {
  margin-left: 4rem;
  width: 4rem;
}
.supportContent .githubPage {
  margin-left: -0rem;
}
.supportContent p {
  font-size: 1.8rem;
  margin-top: 0.65rem;
  margin-left: 0.5rem;
}
.supportContent .githubText {
  margin-top: 0.7rem;
}
/* cubeSection */
.cubeFour {
  z-index: -1;
  width: 2.9rem;
  rotate: -16deg;
  margin-left: 50rem;
}
.cubeFive {
  z-index: -1;
  width: 2.9rem;
  rotate: 13deg;
  margin-top: -10rem;
  margin-left: 9rem;
}

/* cubeKeyframes */
.cubeFive {
  position: absolute;
  left: 15%;
  top: 15%;
  animation: fadeInFromTop 6s, floating 5s infinite;
}
@keyframes fadeInFromTop {
  from {
    opacity: 1;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes floating {
  0% {
    transform: translate(0%, 0%) rotate(360deg);
  }
  25% {
    transform: translate(5%, 15%) rotate(360deg);
  }
  50% {
    transform: translate(10%, 5%) rotate(360deg);
  }
  75% {
    transform: translate(0%, 15%) rotate(360deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg);
  }
}
.cubeFour {
  position: absolute;
  left: 15%;
  top: 15%;
  animation: fadeInFromTop 6s, floating 5s infinite;
}
@keyframes fadeInFromTop {
  from {
    opacity: 1;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes floating {
  0% {
    transform: translate(0%, 0%) rotate(360deg);
  }
  25% {
    transform: translate(5%, 15%) rotate(360deg);
  }
  50% {
    transform: translate(10%, 5%) rotate(360deg);
  }
  75% {
    transform: translate(0%, 15%) rotate(360deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg);
  }
}
/* cubeKeyframesEnd */

/* waveSection */
.waveSvg {
  margin-top: 7rem;
}
/* sectionEnd */
/* cubeSectionEnd */
/* creditSectionENDS */

/* aboutMeSection */
.aboutMe {
  margin-top: -1.5rem;
  background-color: #242323;
  height: 38rem;
}

.aboutHeader {
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  margin-left: 2.2rem;
  /* text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 1.8px; */
}
.aboutText {
  color: white;
  margin-left: 5.5rem;
  font-size: 1rem;
  font-style: italic;
  text-align: center;
  width: 38%;
  margin-top: 0.5rem;
  opacity: 0.9;
  font-weight: 300;
}
/* textFill */
.dreams {
  color: aqua;
}
.chapter {
  color: aqua;
}

.socialMediaContent {
  margin-top: 0.2rem;
  margin-left: 19.6rem;
}

.aboutBtn {
  margin-top: 2.5rem;
  margin-left: 17.4rem;
  border: none;
  background-color: white;
  cursor: pointer;
  font-style: italic;
  border-radius: 5px;
  width: 7.5rem;
  height: 2.8rem;
  font-size: 0.95rem;
  box-shadow: 7px 7px aquamarine;
  color: rgb(4, 176, 176);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.aboutBtn:hover {
  color: rgb(3, 123, 123);
  transition: 0.1s 0.1s;
}
.aboutButton .aboutCta .ctaBtn {
  width: 20%;
  left: 0;
}

/* friendsSecton */
.friendsText {
  color: white;
  font-size: 1.3rem;
  margin-top: 1.5rem;
  margin-left: 16.7rem;
}
.friendsTagline {
  color: white;
  margin-left: 4.2rem;
  width: 50%;
  font-weight: 300;
  opacity: 0.9;
  font-style: italic;
}

/* profileSection */
.aboutImagesProfile {
  margin-left: 48rem;
  margin-top: -24rem;
}
.aboutProfile {
  width: 27rem;
}
/* iconsSection */
.layersOne {
  margin-top: -13rem;
  width: 2.6rem;
  margin-left: 29rem;
  rotate: -10deg;
}
.cubeSix {
  width: 2.6rem;
  margin-top: -23rem;
  margin-left: 55rem;
  rotate: -13deg;
}
.packageOne {
  margin-top: -1rem;
  width: 2.6rem;
  rotate: -28deg;
  margin-left: 45rem;
}

/* animationKeyframes */
.cubeSix {
  position: absolute;
  left: 15%;
  top: 15%;
  animation: fadeInFromTop 6s, floating 6s infinite;
}
.packageOne {
  position: absolute;
  left: 15%;
  top: 15%;
  animation: fadeInFromTop 6s, floating 5.5s infinite;
}
.layersOne {
  position: absolute;
  left: 15%;
  top: 15%;
  animation: fadeInFromTop 6s, floating 5s infinite;
}

/* SectionIconsEND */
/* waveSection */
.greyWaveSvg {
  margin-top: 13rem;
}
/* sectionEnds */

/* projectsSection */
/* recentProjects */
.projectsHeader {
  margin-top: 8rem;
  text-align: center;
  font-weight: 600;
  font-size: 2.5rem;
}
.projectsSpan {
  color: aqua;
}

/* headerCube */
.headerCube {
  position: relative;
}
.headerCubeWrapper {
  position: relative;
}

.headerCubeOne {
  width: 2.6rem;
  left: 15%;
  top: 15%;
  animation: fadeInFromTop 7s, floating 5.5s infinite;
  margin-left: 11.5rem;
  rotate: 13deg;
  margin-top: -7rem;
  position: absolute;
}
.headerCubeTwo {
  left: 15%;
  top: 15%;
  animation: fadeInFromTop 5s, floating 6s infinite;
  width: 2.6rem;
  position: absolute;
  rotate: 13deg;
  margin-left: 44rem;
  margin-top: -2.5rem;
}

.projectsTaglineParagraph {
  text-align: center;
  font-size: 1.1rem;
  font-style: italic;
}
.TagLineSpan {
  color: aqua;
}

.projectsLandingPageText {
  text-align: center;
  margin-top: 7rem;
  font-size: 2rem;
  font-weight: 600;
  margin-left: 40rem;
}
.landingSpan {
  color: #83468c;
}

.landingPageTaglineText {
  margin-left: 51.8rem;
  margin-top: 0.5rem;
  font-weight: 400;
  opacity: 0.9;
  z-index: -1;
  position: relative;
  font-size: 1rem;
}
.landingPageTagline {
  position: relative;
  width: 85%;
}

.projectsBtn {
  margin-top: 2rem;
  border: none;
  background-color: white;
  color: #83468c;
  font-weight: 600;
  cursor: pointer;
  font-style: italic;
  border-radius: 5px;
  width: 7.5rem;
  height: 2.8rem;
  box-shadow: 7px 7px #83468c;
  font-size: 0.95rem;
  margin-left: 27rem;
}
.projectsBtn:hover {
  color: #782b84;
  transition: 0.1s 0.1s;
}
.projectsButton {
  text-align: center;
}

/* imagesSection */
.imagesLandingPage {
  margin-top: -12rem;
  border-radius: 10px;
  margin-left: 6rem;
  width: 35rem;
  rotate: -1.5deg;
  z-index: -1;
  position: relative;
  box-shadow: -10px 10px #83468c;
}

/* cubeSection */
/* cubeWrapper */
#imagesCubeProjects {
  position: absolute;
}

.cubeSeven {
  position: absolute;
  width: 2.6rem;
  rotate: 12deg;
  margin-top: -19rem;
  margin-left: 1.8rem;
  z-index: -1;
}
.cubeEight {
  width: 2.6rem;
  z-index: -1;
  rotate: -30deg;
  position: absolute;
  margin-left: 7rem;
  margin-top: 0.8rem;
}
.cubeNine {
  position: absolute;
  width: 2.6rem;
  z-index: -1;
  rotate: -8deg;
  margin-left: 43rem;
  margin-top: -10rem;
}

/* anotherProjectsSection */
.anotherProjectsHead {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 10rem;
  margin-left: 8rem;
}
.projectsSpan {
  color: aqua;
}

.anotherProjectsTaglineText {
  font-size: 1.1rem;
  font-style: italic;
  opacity: 0.9;
  margin-left: 8rem;
  margin-top: 0.5rem;
  z-index: -1;
  position: relative;
}
.anotherProjectsTagline {
  width: 35%;
}

.anotherBtn {
  border: none;
  background-color: white;
  color: rgb(4, 176, 176);
  font-weight: 600;
  cursor: pointer;
  font-style: italic;
  border-radius: 5px;
  width: 7.5rem;
  height: 2.8rem;
  box-shadow: 7px 7px aquamarine;
  font-size: 0.95rem;
  margin-top: 2.2rem;
  margin-left: 8.1rem;
}
.anotherBtn:hover {
  color: rgb(3, 123, 123);
  transition: 0.1s 0.1s;
}

/* imagesSection */
.anotherImages {
  width: 35rem;
  border-radius: 10px;
  z-index: -1;
  position: relative;
  rotate: 1deg;
  margin-left: 35rem;
  margin-top: -14rem;
  box-shadow: 10px 10px aqua;
}

/* secCubeSection */
#anotherCubeImages {
  position: absolute;
}

.cubeTen {
  position: absolute;
  width: 2.6rem;
  margin-left: 38rem;
  rotate: -12deg;
  margin-top: -4rem;
  z-index: -1;
}
.cubeEleven {
  z-index: -1;
  margin-left: 78rem;
  position: absolute;
  width: 2.6rem;
  rotate: 3deg;
}
.cubeTwelve {
  z-index: -1;
  position: absolute;
  width: 2.6rem;
  margin-left: 48rem;
  margin-top: -21rem;
}

/* animationCube */
.cubeSeven {
  /* position: absolute; */
  left: 15%;
  top: 15%;
  animation: fadeInFromTop 6s, floating 7s infinite;
}
.cubeEight {
  /* position: absolute; */
  left: 15%;
  top: 15%;
  animation: fadeInFromTop 5.5s, floating 6s infinite;
}
.cubeNine {
  /* position: absolute; */
  left: 15%;
  top: 15%;
  animation: fadeInFromTop 4.5s, floating 6.8s infinite;
}

.cubeTen {
  /* position: absolute; */
  left: 15%;
  top: 15%;
  animation: fadeInFromTop 6s, floating 7s infinite;
}
.cubeEleven {
  /* position: absolute; */
  left: 15%;
  top: 15%;
  animation: fadeInFromTop 5s, floating 6s infinite;
}
.cubeTwelve {
  /* position: absolute; */
  left: 15%;
  top: 15%;
  animation: fadeInFromTop 5.5s, floating 6.5s infinite;
}

@keyframes fadeInFromTop {
  from {
    opacity: 1;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes floating {
  0% {
    transform: translate(0%, 0%) rotate(360deg);
  }
  25% {
    transform: translate(5%, 15%) rotate(360deg);
  }
  50% {
    transform: translate(10%, 5%) rotate(360deg);
  }
  75% {
    transform: translate(0%, 15%) rotate(360deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg);
  }
}
/* sectionEnds */

/* socialMediaSection */
/* socialMediaHeader */
.socialMediaContainer {
  background-color: #242323;
  height: 78rem;
  margin-top: -3rem;
  z-index: -1;
}

.socialHead {
  margin-left: 1.8rem;
  font-weight: 600;
  font-size: 2rem;
  padding-top: 13rem;
}

/* iconsHeader */
.codeIconsImages {
  position: absolute;
}
.codeImg {
  width: 2.6rem;
  left: 15%;
  top: 15%;
  animation: fadeInFromTop 5.5s, floating 6.5s infinite;
  margin-left: -1.5rem;
  margin-top: -6.5rem;
  rotate: 15deg;
  position: absolute;
}

.chatIconsImages {
  position: absolute;
}
.chatImg {
  z-index: -1;
  margin-left: 42rem;
  margin-top: -1.5rem;
  rotate: 10deg;
  left: 15%;
  top: 15%;
  animation: fadeInFromTop 6.5s, floating 5.5s infinite;
  width: 2.6rem;
}

.codersSpan {
  word-spacing: -5px;
  color: aqua;
  font-weight: 700;
}
.worldSpan {
  color: aqua;
}

.socialMediaTagline {
  margin-left: 4.6rem;
  font-style: italic;
  font-size: 1.1rem;
}
#connect {
  color: aqua;
}
#engaged {
  color: aqua;
}
#social {
  color: aqua;
}
#media {
  color: aqua;
}

/* mainMenuStyle */
.headlineText {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 6rem;
  margin-left: 24.5rem;
}

.mainMenuParagraph {
  font-style: italic;
  font-size: 1rem;
  opacity: 0.9;
  z-index: -1;
  margin-left: 21rem;
  margin-top: 0.8rem;
}
.mainMenuText {
  text-align: center;
  width: 85%;
}

.mainBtn {
  border: none;
  box-shadow: 7px 7px aqua;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  width: 7.5rem;
  height: 2.8rem;
  font-size: 0.95rem;
  color: rgb(4, 176, 176);
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  margin-top: 2rem;
  margin-left: 34.1rem;
}
.mainBtn:hover {
  color: rgb(2, 145, 145);
}

/* socialSection */
/* .mainInsImages {
  margin-left: 37rem;
} */

/* imagesSection */
.mainMenuImagesContainer {
  position: absolute;
}

/* .blobImg {
  width: 31rem;
  position: absolute;
  margin-left: -16rem;
  margin-top: -24rem;
} */
.fbImages {
  margin-left: -15.5rem;
  margin-top: -27rem;
  width: 37rem;
  rotate: -2deg;
  position: relative;
}
.insImages {
  margin-left: -20rem;
  margin-top: -22rem;
  z-index: -0;
  width: 36rem;
  rotate: -8deg;
  position: relative;
}

/* iconsSection */
.menuIcons {
  position: absolute;
}

.mainIconsOne {
  width: 2.6rem;
  left: 15%;
  top: 15%;
  animation: fadeInFromTop 6s, floating 7s infinite;
  position: absolute;
  margin-left: 7.5rem;
  margin-top: -21.5rem;
  rotate: -7deg;
  cursor: pointer;
  transition: width 0.25s;
}
.mainIconsOne:hover {
  width: 3rem;
}
.mainIconsTwo {
  transform: scaleX(-1);
  width: 2.6rem;
  left: 15%;
  top: 15%;
  animation: fadeInFromTop 5s, floating 6.5s infinite;
  position: absolute;
  margin-left: 8rem;
  cursor: pointer;
  transition: width 0.25s;
  rotate: 8deg;
  margin-top: 1.5rem;
}
.mainIconsTwo:hover {
  width: 3rem;
}
.mainIconsThree {
  width: 2.6rem;
  position: absolute;
  left: 15%;
  top: 15%;
  animation: fadeInFromTop 7s, floating 5.5s infinite;
  cursor: pointer;
  transition: width 0.25s;
  margin-left: -13.5rem;
  margin-top: -10rem;
  rotate: 5deg;
}
.mainIconsThree:hover {
  width: 3rem;
}
/* waveSection */
.waveImages {
  margin-top: 3rem;
}
.socialMediaWaveImages {
  margin-top: 1rem;
}

/* socialImagesSlider */
.menuText {
  margin-left: 9.5rem;
  margin-top: 14rem;
  position: absolute;
  font-weight: 600;
  font-size: 1.3rem;
}
/* headerIcons */
.menuIcons {
  position: absolute;
}

.menuIconsOne {
  width: 2.6rem;
  cursor: pointer;
  margin-top: 17.5rem;
  rotate: -5deg;
  left: 15%;
  top: 15%;
  animation: fadeInFromTop 7s, floating 5.5s infinite;
  position: absolute;
  margin-left: 44rem;
  transition: width 0.2s;
}
.menuIconsOne:hover {
  width: 3rem;
}
.menuIconsTwo {
  margin-top: 11rem;
  cursor: pointer;
  width: 2.6rem;
  margin-left: 4rem;
  rotate: 8deg;
  left: 15%;
  top: 15%;
  animation: fadeInFromTop 5.5s, floating 6.5s infinite;
  position: absolute;
  transition: width 0.2s;
}
.menuIconsTwo:hover {
  width: 3rem;
}

.menuSection {
  display: grid;
  grid-template-columns: 20px 20px 20px 20px;
}
.menuWrapper {
  display: grid;
  grid-template-columns: 20px 20px;
  margin-left: 3rem;
  opacity: 0.6;
}

/* insSection */
.insMenuImages {
  margin-top: 17rem;
  cursor: pointer;
  width: 2.2rem;
  transition: width 0.2s;
}
.insText {
  transition: width 0.2s;
  font-size: 1.4rem;
  cursor: pointer;
  margin-top: 17rem;
  margin-left: 1.5rem;
}

/* fbSection */
.fbMenuImages {
  margin-top: 17rem;
  margin-left: 10rem;
  cursor: pointer;
  width: 2.2rem;
}
.fbText {
  margin-top: 17rem;
  cursor: pointer;
  margin-left: 11.5rem;
  font-size: 1.4rem;
}

/* gitSection */
.gitMenuImages {
  width: 2.2rem;
  margin-top: 17rem;
  cursor: pointer;
  margin-left: 20rem;
}
.gitText {
  font-size: 1.4rem;
  cursor: pointer;
  margin-left: 21.5rem;
  margin-top: 17rem;
}

/* twSection */
.twMenuImages {
  cursor: pointer;
  margin-top: 17rem;
  width: 1.9rem;
  margin-left: 28rem;
}
.twText {
  font-size: 1.4rem;
  margin-top: 17rem;
  cursor: pointer;
  margin-left: 29rem;
}
/* sectionEnd */

/* contactSection */
/* headSection */
.contactWrapper {
  padding-top: 10rem;
}
.contactHeadText {
  font-size: 2.1rem;
  text-align: center;
  font-weight: 600;
}
#ques {
  color: aqua;
}
.contactDescription {
  text-align: center;
  font-size: 1.3rem;
}

/* headerCubeIconsSection */
.headerContactIconsWrapper {
  position: absolute;
}
.headerContactIconsOne {
  width: 2.6rem;
  rotate: 7deg;
  left: 15%;
  top: 15%;
  animation: fadeInFromTop 7s, floating 5.5s infinite;
  z-index: -1;
  position: absolute;
  margin-left: 25rem;
  margin-top: -6rem;
}
.headerContactIconsTwo {
  width: 2.6rem;
  position: absolute;
  rotate: -5deg;
  left: 15%;
  top: 15%;
  animation: fadeInFromTop 7s, floating 5.5s infinite;
  z-index: -1;
  margin-left: 59rem;
  margin-top: -1rem;
}

/* formSection */
.formHeadText {
  margin-top: 5rem;
  text-align: end;
  font-size: 1.9rem;
  font-style: italic;
  font-weight: 500;
  margin-right: 14.8rem;
}
#contact {
  color: aqua;
}
.formGroup {
  text-align: end;
}

.contactBtn {
  margin-top: -0.5rem;
  border: none;
  background-color: white;
  color: rgb(4, 176, 176);
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  width: 9rem;
  border-radius: 5px;
  box-shadow: 5px 5px aqua;
  height: 2.5rem;
  font-weight: 500;
  font-size: 0.85rem;
  margin-left: 49.5rem;
}
.contactBtn:hover {
  color: rgb(2, 145, 145);
}

/* inputSection */
.formGroup input::selection {
  background-color: rgb(171, 166, 166);
  color: black;
}
.formGroup textarea::selection {
  background-color: rgb(171, 166, 166);
  color: black;
}
.inputWrapper {
  margin: 1.5rem;
  margin-right: 5rem;
}
.inputWrapper img {
  width: 1.3rem;
  position: absolute;
  margin-left: 0.8rem;
  margin-top: 0.7rem;
  z-index: 1;
}

.nameInput {
  border: none;
  width: 30rem;
  height: 3rem;
  padding: 1rem;
  border-radius: 6px;
  outline: none;
  background-color: #f1f5f9;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  padding-left: 2.5rem;
  font-style: italic;
  font-weight: 400;
}
.nameInput:focus {
  background-color: #f1f5f9;
}
.nameInput:hover {
  background-color: white;
}

.emailInput {
  border: none;
  width: 30rem;
  height: 3rem;
  padding: 1rem;
  border-radius: 6px;
  outline: none;
  background-color: #f1f5f9;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  padding-left: 2.5rem;
  font-style: italic;
  font-weight: 400;
}
.emailInput:hover {
  background-color: white;
}
.emailInput:focus {
  background-color: #f1f5f9;
}

.numberInput {
  border: none;
  width: 30rem;
  height: 3rem;
  padding: 1rem;
  border-radius: 6px;
  outline: none;
  background-color: #f1f5f9;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  padding-left: 2.5rem;
  font-style: italic;
  font-weight: 400;
}
.numberInput:hover {
  background-color: white;
}
.numberInput:focus {
  background-color: #f1f5f9;
}

.messegeArea {
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: #f1f5f9;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  width: 30rem;
  padding-top: 0.8rem;
  padding-left: 2.5rem;
  font-style: italic;
  font-weight: 400;
}
.messegeArea:hover {
  background-color: white;
}
.messegeArea:focus {
  background-color: #f1f5f9;
}

/* cubeSection */
.iconsContactWrapper {
  position: absolute;
}
.contactCubeOne {
  width: 2.6rem;
  left: 15%;
  top: 15%;
  animation: fadeInFromTop 6s, floating 5.5s infinite;
  z-index: -1;
  position: absolute;
  margin-left: 15rem;
  margin-top: -28rem;
  display: none;
}
.contactCubeTwo {
  width: 2.6rem;
  left: 15%;
  top: 15%;
  animation: fadeInFromTop 6.5s, floating 6s infinite;
  z-index: -1;
  position: absolute;
  margin-left: 10rem;
  display: none;
}
.contactCubeThree {
  width: 2.6rem;
  display: none;
  left: 15%;
  top: 15%;
  animation: fadeInFromTop 7s, floating 6s infinite;
  z-index: -1;
  position: absolute;
  margin-left: 20rem;
}

/* wavesSection */
.contactSvgWaves {
  margin-top: 8rem;
}
/* sectionEnd */

/* responsive-Media */
/* navbarResponsive */
/* max-witdh */
/* @media screen and (max-width: 1980px) {
  .navbar {
    width: 88rem;
    margin-left: 13rem;
  }
  #darkMode {
    margin-left: 6rem;
  }
} */

@media screen and (max-width: 1140px) {
  .navbar {
    margin-left: -1rem;
    width: 67.5rem;
    height: 5rem;
    margin-left: 2rem;
  }
  .nav-brand {
    font-size: 1.6rem;
    margin-left: -0rem;
    margin-left: 4rem;
  }
  .nav-menu {
    cursor: pointer;
    margin-top: -1.9rem;
    margin-right: -57rem;
  }

  .ul-nav .li-nav {
    display: none;
  }
  .ul-nav {
    display: none;
  }
}
@media screen and (max-width: 963px) {
  .navbar {
    width: 57.5rem;
  }
  .nav-menu {
    cursor: pointer;
    margin-top: -1.9rem;
    margin-left: -9rem;
  }
}
@media screen and (max-width: 450px) {
  /* nav-section */
  .navbar {
    margin-left: -1.5rem;
    width: 26.8rem;
    margin-left: 1.2rem;
  }
  .nav-brand {
    margin-left: -0rem;
    margin-left: 2rem;
  }
  .nav-menu {
    cursor: pointer;
    margin-top: -1.9rem;
    margin-left: -35rem;
    width: 30%;
  }
}
@media screen and (max-width: 392px) {
  .navbar {
    width: 22.7rem;
    margin-left: -0rem;
    margin-left: 1rem;
  }
  .nav-menu {
    margin-left: -39rem;
    margin-top: -2rem;
  }
}
@media screen and (max-width: 362px) {
  .navbar {
    margin-left: -0rem;
    margin-left: 0.9rem;
    width: 21rem;
    height: 4.8rem;
  }
  .nav-menu {
    margin-left: -40.5em;
  }
}

/* min-witdh */
@media screen and (min-width: 1140px) {
  .nav-menu {
    display: none;
  }
}

/* heroResponsive */
/* maxWitdh */
/* @media screen and (max-width: 1980px) {
  profileSection
  .heroProfileBg {
    margin-right: 23rem;
  }
  .heroProfile {
    margin-right: 25rem;
  }

  contentSection
  .heroHead {
    margin-left: 18rem;
    width: 14.5%;
  }
  .heroText {
    margin-left: 14rem;
  }
  .heroBtn {
    margin-left: 18.5rem;
  }
  .socialContent {
    margin-left: 18.7rem;
  }

  cubeSection
  .cubeOne {
    margin-left: 0rem;
    margin-left: -5rem;
  }
} */

@media screen and (max-width: 1140px) {
  /* profileSection */
  .heroProfileBg {
    margin-right: 0.1rem;
    margin-bottom: 0.6rem;
  }

  /* headerSection */
  .heroHead {
    width: 22%;
    font-size: 3rem;
  }
  .heroText {
    font-size: 0.9rem;
  }
  .heroBtn {
    margin-left: -0rem;
    margin-left: 6rem;
  }
  .socialContent {
    margin-left: -0rem;
    margin-left: 6rem;
  }

  /* cubeSection */
  .cubeThree {
    margin-left: -0 rem;
    margin-left: 25rem;
  }
}

@media screen and (max-width: 963px) {
  /* profileSection */
  .heroProfileBg {
    margin-left: 35rem;
    width: 26rem;
    margin-top: 0rem;
    margin-top: -20rem;
  }

  .heroProfile {
    margin-top: 0rem;
    margin-top: -28rem;
  }
  .heroImagesProfile {
    width: 28rem;
  }

  /* headerSection */
  .heroText {
    margin-left: 2rem;
    white-space: normal;
    margin-top: 0rem;
    margin-top: -1rem;
  }
  .heroHead {
    width: 26%;
    margin-left: 2rem;
  }
  .heroBtn {
    margin-left: 2rem;
  }

  /* socialSection */
  .socialContent {
    margin-left: 2rem;
    margin-top: 0rem;
  }

  /* cubeSection */
  .cubeOne {
    margin-left: 0rem;
    margin-left: -8rem;
    margin-top: -27rem;
  }
}

@media screen and (max-width: 450px) {
  /* headerSection */
  .heroHead {
    margin-left: -0rem;
    margin-left: 7rem;
    width: 56.5%;
    margin-top: -1rem;
    margin-top: 10rem;
    font-size: 3.1rem;
  }
  .heroText {
    font-size: 0.9rem;
    margin-top: -4rem;
    white-space: normal;
    margin-left: -0rem;
    margin-left: 1rem;
    text-align: center;
    margin-top: -0.5rem;
    width: 98%;
  }
  #nvaa {
    white-space: normal;
    font-size: 0.8rem;
  }
  .socialContent {
    margin-left: -0rem;
    margin-left: 13.6rem;
    margin-top: 0.5rem;
  }

  .heroBtn {
    margin-left: -0rem;
    margin-left: 11.5rem;
    margin-top: 1rem;
  }

  /* cubeSection */
  .cubeOne {
    margin-left: 0rem;
    margin-left: -1rem;
    margin-top: -41rem;
    width: 2.5rem;
  }
  .cubeThree {
    width: 2.5rem;
    margin-left: -1.5rem;
    margin-top: -20rem;
  }
  .cubeTwo {
    width: 2.5rem;
    margin-left: 20rem;
    margin-top: 0rem;
    margin-top: -29rem;
  }

  /* profileSection */
  .heroProfileBg {
    margin-left: 4rem;
    width: 22rem;
    margin-top: 1rem;
  }
  .heroProfile {
    margin-top: 0rem;
    margin-left: -0rem;
    margin-top: -24rem;
    margin-left: 3rem;
  }
  .heroImagesProfile {
    width: 22rem;
  }
}

@media screen and (max-width: 392px) {
  /* headerSection */
  .heroHead {
    width: 65%;
    margin-left: -0rem;
    margin-left: 4.6rem;
  }
  .heroText {
    font-size: 1rem;
    margin-left: -0rem;
    margin-left: 0.6rem;
  }
  .heroBtn {
    margin-left: -0rem;
    margin-left: 8.8rem;
  }
  .socialContent {
    margin-left: -0rem;
    margin-left: 11.2rem;
  }
  /* cubeSection */
  .cubeTwo {
    margin-top: -27.8rem;
    margin-left: -0rem;
    margin-left: 17rem;
    width: 2.2rem;
  }
  .cubeOne {
    width: 2.2rem;
    margin-top: -44rem;
    margin-left: 0rem;
    margin-left: -2rem;
  }
  .cubeThree {
    width: 2.2rem;
  }
  /* profileSection */
  .heroProfileBg {
    margin-left: -0rem;
    margin-left: 2rem;
  }
  .heroProfile {
    margin-left: -0rem;
    margin-left: 1.5rem;
  }
}

@media screen and (max-width: 362px) {
  /* headerSection */
  .heroHead {
    width: 72%;
    margin-left: -0rem;
    margin-left: 3.6rem;
  }
  .heroText {
    margin-left: -0rem;
    margin-left: 0.4rem;
  }
  .socialContent {
    margin-left: -0rem;
    margin-left: 11.8rem;
  }
  .heroBtn {
    margin-left: -0rem;
    margin-left: 7.5rem;
  }

  /* cubesection */
  .cubeTwo {
    margin-left: 15.5rem;
    width: 2.2rem;
  }
  .cubeThree {
    width: 2.2rem;
    margin-left: -0.8rem;
    margin-top: -21rem;
  }
  .cubeOne {
    width: 2.2rem;
  }

  /* profileSection */
  .heroProfileBg {
    margin-left: 1rem;
  }
  .heroProfile {
    margin-left: 0.5rem;
  }
}

/* creditResponsive */
/* maxWidth */
/* @media screen and (max-width: 1980px) {
} */

@media screen and (max-width: 1140px) {
  /* cubeSection */
  .cubeFour {
    margin-left: 40rem;
  }
}

@media screen and (max-width: 963px) {
  /* cubeSection */
  .cubeFive {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 451px) {
  /* cubeSection */
  .cubeFour {
    margin-left: 20rem;
    width: 2.5rem;
    margin-top: 1.5rem;
  }
  .cubeFive {
    width: 2.5rem;
    margin-left: -1rem;
  }
  /* supportBrandSection */
  .supportContent img {
    width: 3rem;
  }
  .supportContent p {
    font-size: 1.5rem;
  }

  /* creditSection */
  .creditParagraph {
    margin-top: 12rem;
  }
}

@media screen and (max-width: 392px) {
  /* supportBrandSection */
  .creditParagraph {
    margin-top: -0rem;
    margin-top: 12rem;
  }
  .supportContent img {
    width: 2.6rem;
  }
  .supportContent p {
    font-size: 1.3rem;
  }
  .supportBrand {
    margin-top: 0.8rem;
  }
  .supportContent .githubPage {
    margin-left: 0rem;
  }
  .supportContent .githubText {
    margin-top: -0rem;
    margin-top: 0.5rem;
  }

  /* cubeSection */
  .cubeFour {
    margin-left: 17rem;
    margin-top: 1rem;
    width: 2.2rem;
  }
  .cubeFive {
    width: 2.2rem;
    margin-left: -2.2rem;
    margin-top: -8rem;
  }
}

@media screen and (max-width: 362px) {
  /* socialSection */
  .socialContent .githubPage {
    margin-left: -1rem;
  }
  .socialContent img {
    margin-left: -1rem;
  }

  /* cubeSection */
  .cubeFour {
    width: 2.2rem;
    margin-left: 16rem;
    margin-top: 0rem;
  }
  .cubeFive {
    margin-top: -8rem;
    width: 2.2rem;
  }
}

/* aboutSectionResponsive */
@media screen and (max-width: 963px) {
  /* profileSection */
  .aboutProfile {
    width: 22rem;
    margin-left: -16rem;
  }

  /* HeaderSection */
  .aboutMe {
    height: 40rem;
    width: 61rem;
  }
  .greyWaveSvg {
    margin-top: 14rem;
    width: 61rem;
  }
  .waveSvg {
    width: 61rem;
  }
  .aboutHeader {
    margin-left: 1rem;
    font-size: 1.3rem;
  }
  .aboutText {
    margin-left: 4rem;
  }
  .friendsText {
    margin-left: 10rem;
  }
  .friendsTagline {
    margin-left: 3rem;
    width: 40%;
    text-align: center;
  }
  .socialMediaContent {
    margin-left: 13.2rem;
  }
  .aboutBtn {
    margin-left: 11rem;
  }

  /* cubeSection */
  .cubeSix {
    margin-left: 38rem;
    margin-top: 0rem;
    margin-top: -18rem;
  }
  .layersOne {
    margin-left: 18rem;
    margin-top: 0rem;
    margin-top: -9rem;
  }
}

@media screen and (max-width: 450px) {
  /* profileSection */
  .aboutProfile {
    margin-top: 26rem;
    width: 16rem;
  }
  .aboutImagesProfile {
    margin-left: -0rem;
    margin-left: 21rem;
  }

  /* headerSection */
  .aboutMe {
    margin-top: -0.4rem;
    height: 44.5rem;
    width: 28.6rem;
  }
  .waveSvg {
    width: 28.6rem;
    margin-top: 7rem;
  }
  .greyWaveSvg {
    width: 28.6rem;
    margin-top: -0rem;
    margin-top: 3rem;
  }

  .aboutHeader {
    font-size: 1.1rem;
    margin-left: 1.4rem;
  }
  .aboutText {
    width: 80%;
    font-size: 0.9rem;
    margin-left: 2.9rem;
  }
  .aboutBtn {
    margin-left: 10.5rem;
  }
  .socialMediaContent {
    margin-left: 12.65rem;
  }

  .friendsTagline {
    width: 70%;
    margin-left: 4rem;
  }
  .friendsText {
    margin-left: 9rem;
  }
  /* cubeSection */
  .cubeSix {
    margin-left: 0rem;
    rotate: 13deg;
  }
  .layersOne {
    margin-left: 14rem;
    margin-top: -12rem;
  }
  .packageOne {
    margin-left: 3.5rem;
    margin-top: -3rem;
  }
}

@media screen and (max-width: 392px) {
  /* headerSection */
  .aboutMe {
    height: 42.6rem;
    width: 24.5rem;
  }
  .greyWaveSvg {
    margin-top: 4rem;
    width: 24.5rem;
  }
  .waveSvg {
    width: 24.5rem;
  }
  .aboutHeader {
    margin-left: 0.6rem;
    font-size: 1.05rem;
    margin-top: -0.5rem;
  }
  .aboutText {
    margin-left: 1.3rem;
    width: 90%;
    font-size: 0.8rem;
  }
  .aboutBtn {
    margin-left: 9rem;
    margin-top: -0rem;
    margin-top: 1rem;
  }

  .friendsTagline {
    margin-left: 1.6rem;
    width: 90%;
  }
  .friendsText {
    margin-left: 8rem;
  }
  .socialMediaContent {
    margin-left: 11.2rem;
  }

  /* profileSection */
  .aboutProfile {
    margin-left: -17rem;
  }

  /* cubeSection */
  .packageOne {
    margin-top: 0rem;
    margin-top: -1.8rem;
    margin-left: -0rem;
    margin-left: 3.4rem;
    width: 2.1rem;
  }
  .cubeSix {
    width: 2.1rem;
  }
  .layersOne {
    width: 2.1rem;
  }
}

@media screen and (max-width: 362px) {
  /* headerSection */
  .aboutMe {
    width: 22.7rem;
  }

  .aboutHeader {
    margin-left: 0.2rem;
    font-size: 1rem;
  }
  .aboutText {
    margin-left: 2.1rem;
    width: 80%;
    font-size: 0.9rem;
  }
  .aboutBtn {
    margin-left: 7.8rem;
  }
  .aboutButton {
    width: 70%;
  }
  .aboutCta {
    width: 80%;
  }
  .friendsText {
    margin-left: 6.8rem;
  }
  .friendsTagline {
    margin-left: 2.5rem;
    width: 80%;
  }
  .socialMediaContent {
    margin-left: 10rem;
  }

  /* cubeSection */
  .cubeSix {
    margin-top: 0rem;
    margin-top: -13rem;
    width: 2rem;
    margin-left: -2rem;
  }
  .layersOne {
    width: 2rem;
  }
  .packageOne {
    width: 2rem;
  }
  /* profileSection */
  /* .aboutImagesProfile {
    margin-left: 10rem;
    margin-top: 0rem;
    margin-top: -23rem;
  } */
  .aboutProfile {
    margin-left: 0rem;
    margin-left: -17.5rem;
  }

  /* waveSection */
  .greyWaveSvg {
    width: 22.7rem;
  }
  .waveSvg {
    width: 22.7rem;
  }
}
/* sectiondEnds */

/* projectsSection */
/* maxWidthSection */
@media screen and (max-width: 963px) {
  /* headerCube */
  .headerCubeOne {
    margin-left: 3.5rem;
    width: 2.4rem;
  }
  .headerCubeTwo {
    width: 2.4rem;
    margin-left: 36rem;
  }

  /* projectsSection */
  .projectsLandingPageText {
    font-size: 1.8rem;
    margin-left: 32rem;
  }
  .landingPageTaglineText {
    font-size: 0.8rem;
    margin-left: 36.5rem;
  }
  .landingPageTagline {
    width: 85%;
  }
  .projectsBtn {
    margin-left: 20rem;
  }

  /* imagesSection */
  .imagesLandingPage {
    width: 27rem;
    margin-left: 4rem;
  }

  /* cubeSection */
  .cubeSeven {
    margin-top: -15rem;
    margin-left: 0.5rem;
    width: 2.4rem;
  }
  .cubeEight {
    width: 2.4rem;
    margin-left: 4rem;
  }
  .cubeNine {
    width: 2.4rem;
    margin-left: 32rem;
    rotate: 8deg;
  }

  /* anotherProjectsSection */
  .anotherProjectsHead {
    font-size: 1.8rem;
    margin-left: 4.5rem;
  }
  .anotherProjectsTaglineText {
    margin-left: 4.5rem;
  }
  .anotherBtn {
    margin-left: 4.6rem;
  }

  /* imagesSection */
  .anotherImages {
    width: 27rem;
    margin-top: 0rem;
    margin-top: -20rem;
    margin-left: 22rem;
  }

  /* cubeSection */
  .cubeTen {
    margin-left: 56rem;
    margin-top: -6rem;
  }
  .cubeEleven {
    margin-left: 23rem;
    margin-top: -2.5rem;
    rotate: -5deg;
  }
  .cubeTwelve {
    margin-left: 25rem;
    margin-top: -15rem;
  }

  /* waveSection */
  .waveImages {
    width: 61rem;
  }
}

@media screen and (max-width: 451px) {
  /* headerSection */
  .projectsHeader {
    font-size: 1.7rem;
    margin-top: -0rem;
    margin-top: 5rem;
  }
  /* headerCube */
  .headerCubeOne {
    margin-left: 0rem;
    margin-left: -2.5rem;
    z-index: -1;
  }
  .headerCubeTwo {
    z-index: -1;
    margin-left: 20rem;
    margin-top: 0rem;
  }

  .projectsTaglineParagraph {
    font-size: 1rem;
  }

  /* recentProjects */
  .projectsLandingPageText {
    margin-top: 6rem;
    font-size: 1.6rem;
    margin-left: 0rem;
    margin-left: -1rem;
  }
  .landingPageTaglineText {
    margin-left: 4.5rem;
    margin-top: 12rem;
    text-align: center;
    position: static;
    rotate: -0.5deg;
    z-index: -1;
  }
  .landingSpan {
    color: #83468c;
  }
  .landingPageTagline {
    position: static;
    width: 80%;
  }
  .projectsBtn {
    margin-left: -2.5rem;
    color: #83468c;
  }

  /* imagesSection */
  .imagesLandingPage {
    width: 19rem;
    margin-top: -18rem;
    position: absolute;
    margin-left: 4.2rem;
    z-index: -1;
    rotate: -0.5deg;
  }

  /* cubeSection */
  .cubeSeven {
    z-index: -1;
    margin-top: -20rem;
  }
  .cubeEight {
    z-index: -1;
    margin-left: 2rem;
    margin-top: -6rem;
  }
  .cubeNine {
    margin-top: -12rem;
    z-index: -1;
    margin-left: 24rem;
  }

  /* anotherProjects */
  .anotherProjectsHead {
    font-size: 1.7rem;
    margin-top: 7rem;
  }
  .anotherProjectsTaglineText {
    margin-top: 11rem;
    position: relative;
    font-size: 0.8rem;
    rotate: 1deg;
    text-align: center;
    margin-left: -0rem;
    margin-left: 5rem;
  }
  .anotherProjectsTagline {
    width: 80%;
  }
  .anotherBtn {
    margin-left: 9rem;
    margin-top: -0rem;
    margin-top: 0.8rem;
  }
  /* imageSection */
  .anotherImages {
    width: 19rem;
    margin-left: -10rem;
    margin-top: -17.5rem;
    position: absolute;
  }

  /* cubeSection */
  .cubeTen {
    margin-left: 23rem;
    width: 2.4rem;
    margin-top: -20rem;
  }
  .cubeEleven {
    margin-left: 21.5rem;
    width: 2.4rem;
    margin-top: -6rem;
    rotate: 13deg;
  }
  .cubeTwelve {
    width: 2.4rem;
    margin-left: 1rem;
    rotate: -5deg;
  }

  /* waveSection */
  .waveImages {
    width: 28.6rem;
  }
}

@media screen and (max-width: 392px) {
  /* headerSection */
  .projectsHeader {
    font-size: 1.6rem;
  }
  .projectsTaglineParagraph {
    font-size: 0.9rem;
  }

  /* headerCubeSection */
  .headerCubeOne {
    margin-left: -3rem;
    margin-top: -6rem;
    width: 2.1rem;
  }
  .headerCubeTwo {
    margin-left: 17.5rem;
    width: 2.1rem;
  }

  /* recentProjects */
  .projectsLandingPageText {
    font-size: 1.4rem;
    rotate: -1deg;
    margin-top: 4rem;
  }
  .projectsBtn {
    rotate: -1deg;
  }

  /* imagesSection */
  .imagesLandingPage {
    margin-left: 2.8rem;
    width: 19rem;
  }

  /* cubeSection */
  .cubeSeven {
    margin-left: 0rem;
    width: 2.1rem;
  }
  .cubeNine {
    margin-left: 22rem;
    width: 2.1rem;
  }
  .cubeEight {
    width: 2.1rem;
  }
  /* waveSection */
  .waveImages {
    width: 24.6rem;
  }

  /* anotherProjects */
  /* headerSection */
  .anotherProjectsHead {
    font-size: 1.7rem;
    margin-top: 3.5rem;
    rotate: 1deg;
  }
  .anotherProjectsTaglineText {
    margin-left: -0rem;
    margin-left: 3rem;
  }
  .anotherBtn {
    margin-left: -0rem;
    margin-left: 7.5rem;
    rotate: 1deg;
  }
  /* imagesSection */
  .anotherImages {
    width: 19rem;
    margin-left: -9.7rem;
  }

  /* cubeSection */
  .cubeTen {
    margin-left: 21rem;
    width: 2.1rem;
  }
  .cubeEleven {
    margin-left: 20rem;
    width: 2.1rem;
  }
  .cubeTwelve {
    width: 2.1rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 362px) {
  /* headerSection */
  .projectsHeader {
    font-size: 1.6rem;
    margin-top: 7.5rem;
  }
  .projectsTaglineParagraph {
    font-size: 0.8rem;
  }

  /* cubeHeader */
  .headerCubeOne {
    width: 2rem;
    margin-left: -3.2rem;
    margin-top: -5.5rem;
  }
  .headerCubeTwo {
    width: 2rem;
    margin-left: 16.5rem;
  }

  /* wavesSection */
  .waveImages {
    width: 22.6rem;
  }

  /* recentProjects */
  .projectsLandingPageText {
    font-size: 1.3rem;
    margin-top: 3.8rem;
  }
  .landingPageTaglineText {
    margin-left: 3.1rem;
    margin-top: 10.7rem;
  }
  .landingPageTagline {
    width: 85%;
  }
  .projectsBtn {
    margin-left: -1.5rem;
  }

  /* imagesSection */
  .imagesLandingPage {
    margin-left: 2.3rem;
    width: 18rem;
    margin-top: -17.5rem;
  }

  /* cubeSection */
  .cubeSeven {
    margin-left: 0rem;
    width: 2rem;
  }
  .cubeEight {
    width: 2rem;
  }
  .cubeNine {
    margin-left: 20.6rem;
    width: 2rem;
    z-index: -2;
  }

  /* anotherProjects */
  /* headerSection */
  .anotherProjectsHead {
    font-size: 1.6rem;
  }
  .anotherProjectsTaglineText {
    margin-left: 4rem;
  }
  .anotherBtn {
    margin-left: 7rem;
  }

  /* imagesSection */
  .anotherImages {
    width: 18rem;
    margin-left: -9rem;
  }

  /* cubeSection */
  .cubeTen {
    width: 2rem;
    margin-left: 20rem;
  }
  .cubeEleven {
    width: 2rem;
  }
  .cubeTwelve {
    margin-left: 0rem;
    width: 2rem;
  }

  /* waveSection */
  .waveImages {
    margin-top: 5.5rem;
    width: 22.7rem;
  }
}
/* sectionEnd */

/* socialMediaResponsive */
/* maxWidthSection */
@media screen and (max-width: 963px) {
  /* headSection */
  .socialMediaContainer {
    margin-top: -1rem;
    width: 61rem;
    height: 73rem;
  }

  .socialHead {
    margin-left: -1.4rem;
    font-size: 1.8rem;
  }
  .socialMediaTagline {
    margin-left: 0.8rem;
    font-size: 1rem;
  }
  /* headerIconsSection */
  .codeImg {
    margin-left: -4.5rem;
    width: 2.4rem;
  }
  .chatImg {
    width: 2.4rem;
    margin-left: 36rem;
    margin-top: -1.8rem;
  }

  /* waveSection */
  .waveImages {
    width: 61rem;
  }
  .socialMediaWaveImages {
    width: 61rem;
    margin-top: 6rem;
  }

  /* mainMenuSection */
  /* imagesSection */
  .fbImages {
    width: 32rem;
    margin-top: -25rem;
    margin-left: -12rem;
  }
  .insImages {
    margin-left: -15rem;
    width: 31rem;
    margin-top: -19rem;
  }

  /* headerSection */
  .headlineText {
    font-size: 1.3rem;
    margin-left: 18rem;
  }
  .mainMenuParagraph {
    font-size: 0.8rem;
    margin-left: 17rem;
  }
  .mainMenuText {
    width: 92%;
  }
  .mainBtn {
    margin-left: 26.5rem;
    margin-top: 1rem;
  }

  /* menuIconsSection */
  .mainIconsOne {
    margin-top: -18.5rem;
    margin-left: 7rem;
    width: 2.4rem;
  }
  .mainIconsTwo {
    width: 2.4rem;
    margin-left: 9rem;
  }
  .mainIconsThree {
    width: 2.4rem;
    margin-left: -9rem;
  }

  /* socialImagesSection */
  .menuText {
    margin-left: 6.5rem;
  }
  /* headerIconsSection */
  .menuIconsOne {
    margin-left: 38rem;
    width: 2.4rem;
  }
  .menuIconsTwo {
    width: 2.4rem;
    margin-left: 2rem;
    margin-top: 12rem;
  }

  .menuWrapper {
    margin-left: -1rem;
  }
}

@media screen and (max-width: 451px) {
  /* headSection */
  .socialMediaContainer {
    width: 28.6rem;
    margin-top: -1rem;
    height: 64rem;
  }
  .socialHead {
    font-size: 1.2rem;
    margin-left: -10.5rem;
    margin-top: -5rem;
  }
  .socialMediaTagline {
    font-size: 0.7rem;
    margin-left: -10rem;
  }

  /* headIconsImagesSection */
  .codeImg {
    margin-left: -12.5rem;
    margin-top: -5.5rem;
  }
  .chatImg {
    margin-left: 13rem;
  }

  /* imagesSection */
  .mainMenuImagesContainer {
    margin-top: 16rem;
    margin-left: 2.8rem;
  }
  .fbImages {
    width: 24rem;
  }
  .insImages {
    width: 23rem;
  }

  /* iconsSection */
  .mainIconsOne {
    margin-top: 1rem;
    margin-left: 8rem;
  }
  .mainIconsTwo {
    margin-top: 14.5rem;
  }
  .mainIconsThree {
    margin-top: 10rem;
  }

  /* headerSection */
  .headlineText {
    margin-left: -8.8rem;
    font-size: 1.1rem;
    margin-top: 0.5rem;
  }
  .mainMenuParagraph {
    margin-top: 17.5rem;
    margin-left: -12.8rem;
    position: absolute;
    font-size: 0.7rem;
    text-align: center;
  }
  .mainMenuText {
    width: 0%;
  }
  .mainBtn {
    margin-top: 24.5rem;
    position: absolute;
    margin-left: -2.2rem;
  }

  /* socialSlideImagesSection */
  .socialMenuHeader {
    margin-top: 20rem;
    margin-left: -12rem;
  }
  .menuText {
    margin-left: 3rem;
    font-size: 1.1rem;
    margin-top: 13rem;
  }

  /* waveSection */
  .socialMediaWaveImages {
    width: 28.6rem;
    margin-top: 3.5rem;
  }
  .waveImages {
    width: 28.6rem;
  }

  /* menuSection */
  .menuSection {
    display: grid;
    grid-template-columns: 10px 10px;
  }
  .menuWrapper {
    margin-left: -6.5rem;
    margin-top: -2rem;
  }
  /* menuSectionImages */
  .insMenuImages {
    width: 1.9rem;
    margin-top: 17.1rem;
  }
  .insText {
    font-size: 1.1rem;
    margin-left: 1rem;
    margin-top: 17.2rem;
  }

  .fbMenuImages {
    width: 1.9rem;
    margin-left: 8rem;
  }
  .fbText {
    margin-left: 9rem;
    margin-top: 17.2rem;
    font-size: 1.1rem;
  }

  .gitMenuImages {
    width: 1.9rem;
    margin-left: 1.5rem;
    margin-top: 2.8rem;
  }
  .gitText {
    font-size: 1.1rem;
    margin-top: 3rem;
    margin-left: 2.5rem;
  }

  .twMenuImages {
    width: 1.7rem;
    margin-left: 8.2rem;
    margin-top: 2.8rem;
  }
  .twText {
    margin-top: 3rem;
    margin-left: 9rem;
    font-size: 1.1rem;
  }

  /* iconsSection */
  .menuIconsOne {
    margin-left: 25rem;
    width: 2.2rem;
    margin-top: 17rem;
  }
  .menuIconsTwo {
    width: 2.2rem;
    margin-left: 0rem;
    margin-top: 10.5rem;
  }
}

@media screen and (max-width: 392px) {
  /* headSection */
  .socialMediaContainer {
    width: 24.6rem;
    height: 62rem;
  }

  .socialHead {
    font-size: 1.1rem;
    margin-left: -11.5rem;
    text-align: center;
  }
  /* .socialHeader {
    width: 70%;
  } */

  .socialMediaTagline {
    margin-left: -10.4rem;
  }
  /* headerSection */
  .mainMenuParagraph {
    margin-left: -11.3rem;
    font-size: 0.6rem;
  }

  .mainBtn {
    margin-top: 23.5rem;
  }

  /* headerIconsImages */
  .codeImg {
    width: 2.1rem;
    margin-left: -12rem;
    margin-top: -5rem;
  }
  .chatImg {
    width: 2.1rem;
    margin-left: 11rem;
    margin-top: 0rem;
  }

  /* waveSection */
  .waveImages {
    margin-top: 1rem;
    width: 24.6rem;
  }
  .socialMediaWaveImages {
    width: 24.6rem;
  }

  /* menuIconsSection */
  .mainIconsOne {
    width: 2.1rem;
  }
  .mainIconsTwo {
    width: 2.1rem;
  }
  .mainIconsThree {
    width: 2.1rem;
  }

  /* headerIconsSection */
  .menuIconsOne {
    width: 2.1rem;
    margin-left: 22rem;
  }
  .menuIconsTwo {
    width: 2.1rem;
    margin-left: 1rem;
  }

  /* socialSlideImagesSection */
  .menuWrapper {
    margin-left: -7.3rem;
  }

  .menuText {
    font-size: 1rem;
  }
}

@media screen and (max-width: 362px) {
  /* headSection */
  .socialMediaContainer {
    width: 22.7rem;
  }
  .socialHead {
    font-size: 1rem;
    margin-left: -10.5rem;
  }
  .socialMediaTagline {
    text-align: center;
    margin-left: -7.8rem;
    margin-top: 0.2rem;
  }
  .socialTagline {
    width: 80%;
  }

  /* headIconsImagesSection */
  .codeImg {
    margin-left: -10.5rem;
    margin-top: -5.5rem;
  }
  .chatImg {
    margin-top: -4rem;
    margin-left: 10rem;
  }

  /* headerSection */
  .mainMenuParagraph {
    font-size: 0.6rem;
    width: 90%;
    margin-left: -8.8rem;
  }
  .mainBtn {
    margin-left: -2.5rem;
  }

  /* waveSection */
  .socialMediaWaveImages {
    width: 22.7rem;
  }
  .waveImages {
    width: 22.7rem;
  }

  /* socialSildeImagesSection */
  .socialMenuHeader {
    margin-left: -11rem;
  }
  .menuWrapper {
    margin-left: -6.5rem;
  }

  .insText {
    margin-top: 17.4rem;
  }
  .fbText {
    margin-top: 17.3rem;
  }
  .gitText {
    margin-top: 3.2rem;
  }

  /* iconsMenuSection */
  .menuIconsOne {
    margin-left: 21rem;
  }
}
